<% layout("./layout/boilerplate.ejs") %>
<body class="py-0 px-0">
  
<div class="bg-cover bg-center  bg-opacity-50 h-screen" style="background-image: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <section class="flex items-center justify-center py-16 container mx-auto px-6 relative">
    <!-- Right Half: Website explanation with transition effect, centered text -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center px-6 text-center relative z-10">
        <h1 class="text-4xl font-bold mb-4 text-white">Welcome to Sahitya</h1>
        <p class="text-lg mb-6 text-white">Discover the wisdom and teachings of the ancient vedic literatures, a sacred journey that offers timeless life lessons. Learn about the deep truths of life that guide us through every challenge in life.</p>
        <a href="#" class="text-lg bg-yellow-600 text-white py-3 px-6 rounded transition transform hover:scale-110 hover:bg-yellow-500">Explore Now</a>
    </div>
  </section>
</div>
</body>
