<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarvagya</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z4G4fA7+7DXt659Q6S5vQB6m430Cr66w7665WOV9M560D0M9MTQ7iQXioQ+3jHsv0lc7yq7d99u1y+D37AD60g" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <style>
        /* Apply the historic font */
        .historic-font {
            font-family: 'Great Vibes', cursive;
        }
        .main-font{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
    </style>
</head>
<body class="flex flex-col">
    <%- include("../includes/navbar.ejs") %>
    <main class="flex-grow flex items-center justify-center px-4 py-12">
        <%- body %>
    </main>
    <%- include("../includes/footer.ejs") %>
</body>
</html>